#root {
  margin: 0 auto;
  text-align: center;
}

* {
  font-family: "Times New Roman", serif;
  color : #0000FF;
}

.monofont {
  font-family: "courier", mono !important;

}
.spacer{
  height:60px
}